<form role="form"
	[formGroup]="addNewTaskForm"
	(ngSubmit)="onAddTask()" >
	
	<div class="task__new-item-title form-group">
		<input class="form-control input-lg" formControlName="title"/>
	</div>

	<div class="task__new-itemitem-description form-group">
	    <textarea class="form-control" rows="3" formControlName="description"></textarea>
	</div>

	<button type="button" class="btn btn-sm btn-link task__new-item-btn-close"
		(click)="onCancel()">
		<i class="fa fa-close"></i>
	</button>

	<div class="text-right">							
		<button type="submit" class="btn btn-sm btn-link">Update</button>
	</div>
</form>